* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  color: #444;
  background: #fff;
  height: 100vh;
}

.globalcontainer{
  background-image: url('http://localhost:3000/images/bg-desktop-light.jpg');
  background-repeat: no-repeat;
  width:100%;
  height: 300px;
}

.globalcontainer .container{
  width:541px;
  margin: 0 auto;
  background-color: #444;
  height: 100vh;
}
